* {
    padding: 0;
    margin: 0;
    font-family: Roboto;
    // min-width: 300px;
}

.headerSetting {
    height: 120px;
    align-items: center;
    text-align: center;
}

.phoneInHeader {
    width: 138px;
    height: 20px;
    font-size: 17px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #212212;
}

.AbstractLogo {
    width: 191.7px;
    height: 30px;
    font-size: 24px;
    font-weight: 600;
}

.fontIconSearch {
    width: 27.9px;
    height: 27.9px;
}

.fontIconSearch:not(.first) {
    margin-left: 30px;
}

.navSetting {
    opacity: 0.7;
    border-top: solid 1px #d4d1d1;
}

.ulSetting {
    margin: 0 auto;
}

.ulSetting a:hover {
    color: #212212;
}

.navItem {
    height: 19px;
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 2px;
    letter-spacing: normal;
    text-align: center;
    color: #212212
}

.navbar-settings {
    border-bottom: solid 1px #d4d1d1;
    border-top: solid 1px #d4d1d1;
}

.barButton {
    width: 19.1px;
    height: 16px;
}

ol.carousel-indicators li {
    width: 8px;
    height: 8px;
    background-color: #979797;
    border-radius: 5px;
}

ol.carousel-indicators .active {
    background-color: #212212;
}

.description {
    text-align: center;
    padding-top: 60px;
    margin: 0 auto;
}

.description-p1 {
    font-size: 15px;
    color: #212212;
    font-weight: 600;
}

.description-p2 {
    color: #9e8b6b;
    font-weight: 600;
}

.details {
    text-decoration: underline;
    margin: 0 auto;
}

.details:hover {
    cursor: pointer;
}

.detailsDiv {
    padding-bottom: 60px;
}

.imageBlock {
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.imageBlock div {
    height: 558px;
}

.image1 {
    background: #ff9595;
    height: 558px;
}

.image2 {
    background: #95b7ff;
    height: 558px;
}

.image3 {
    background: #95ffce;
    height: 558px;
}

.image4 {
    background: #c995ff;
    height: 558px;
}

.image5 {
    background: #ffeb95;
    height: 558px;
}

.imageBlock:not(.firstImageBlock) {
    padding-left: 10px !important;
}

.secondRow {
    margin-top: 7px;
}

.blockUnderImgBlock {
    padding-top: 60px;
    text-align: center;
    padding-bottom: 60px;
}

.blockUnderImgBlock h3 {
    font-size: 14px;
    font-weight: bold;
    color: #9e8b6b;
    text-transform: uppercase;
}

.blockUnderImgBlock p {
    color: #343434a1;
    font-size: 14px;
}

.footer {
    border-top: solid 1px #d4d1d1;
    padding-top: 39px;
    padding-bottom: 38px;
    border-bottom: solid 1px #d4d1d1;
}

.categoryBlock span {
    display: block;
    color: #343434a1;
    font-size: 14px;
}

.categoryBlock span:hover {
    text-decoration: none;
    color: #212212;
}

.categoryBlock h3 {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}

.third {
    padding-top: 15px;
}

.rightBlock {
    border-left: solid 1px #d4d1d1;
    margin-left: 30px;
    padding-left: 30px !important;
    padding-right: 0px !important;
}

.alignRight {
    text-align: right;
}

.rightBlock h3 {
    font-size: 15px;
}

.rightBlock p {
    font-size: 14px;
    color: #343434a1;
}

.rightBlock label {
    font-size: 14px;
    color: #343434a1;
}

.rightBlock span {
    text-decoration: underline;
}

.rightBlock .inputText {
    width: 95%;
    height: 38px;
    border-radius: 3px;
    border: solid 1px #d4d1d1;
    background-color: #ffffff;
    padding-left: 10px;
}

.rightBlock #item {
    width: 18px;
    height: 18px;
    border-radius: 2px;
    border: solid 1px #d4d1d1;
    background-color: #ffffff;
}

.checkboxRow {
    padding-top: 10px;
}

.rightBlock button {
    width: 95%;
    height: 38px;
    border-radius: 3px;
    background-color: #212212;
    color: white;
}

.paddingTop {
    padding-top: 20px;
}

.paddingbottom {
    padding-bottom: 20px;
}

.lastFooterBlockLeft p {
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 5px;
}

.lastFooterBlockLeft span {
    font-size: 14px;
    font-weight: normal;
    color: #343434a1;
}

.lastFooterBlockRight p {
    line-height: 50px;
    font-size: 14px;
    color: #343434a1;
}

.lastFooterBlockRight p span {
    font-weight: 600;
}

.lastcategoryBlock {
    padding-top: 22px;
}

.categoryBlockMin span {
    display: block;
    color: #343434a1;
    font-size: 14px;
}

.categoryBlockMin span:hover {
    text-decoration: none;
    color: #212212;
}

.categoryBlockMin h3 {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}

.categoryBlockMin {
    display: none;
    padding-right: 0px !important;
}

label {
    display: inline;
}

.noPaddingRight {
    padding-right: 0px !important;
}

.noPaddingLeft {
    padding-left: 0px !important;
}

.Subscribe:focus {
    outline: none;
}

.fixWidth {
    width: 152px;
}

.carouselSetting {
    text-align: center;
}

.middleCarousel {
    padding-bottom: 40px;
    padding-top: 25px;
}

.middleCarousel h5 {
    color: #9e8b6b;
}

.carousel-indicators {
    bottom: -40px;
}

.inNav {
    cursor: pointer;
}

@media (min-width: 768px) {
    .inNav {
        display: none;
    }

    .navbar-expand-lg {
        flex-flow: wrap !important;
    }
}

@media (min-width: 767px) {
    .rightBlock .inputText {
        width: 100%;
    }
}

@media (min-width: 576px) {
    .middleCarousel {
        display: none;
    }
}

@media (max-width: 575px) {
    .categoryBlockMin {
        border-bottom: solid 1px #d4d1d1;
        padding-bottom: 15px;
    }

    div.rightBlock {
        padding-top: 15px;
        padding-left: 15px !important;
    }

    .blockUnderImgBlock {
        display: none;
    }
}

@media (max-width: 992px) {
    .noPaddingLeft {
        padding-left: 15px !important;
    }

    // div.Subscribe {
    //     width: 100%;
    // }

    .rightBlock button {
        width: 100%;
    }
}

@media (max-width: 767px) {

    .rightBlock button {
        width: 95%;
    }

    .inNav {
        display: inline-block;
    }

    .inHeader {
        display: none;
    }

    .categoryBlock {
        display: none;
    }

    .categoryBlockMin {
        display: block;
    }

    .rightBlock {
        border-left: none;
        margin-left: 0;
        padding-left: 0 !important;
    }

    .container {
        max-width: 100%;
    }

    .phoneInHeader {
        display: none;
    }

    .imageBlock:not(.firstImageBlock) {
        padding-left: 0px !important;
        padding-top: 10px !important;
    }

    .alignRight {
        text-align: left;
    }
}